.transition {
    height: 500px;
    background-image: url(../images/Laser_en_construction.png);
    background-size: 140% 100%;
    background-attachment: fixed;
}

footer {
    height: 600px;
    background-color: white;
}