body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'MetalVengeanceItalic';
    src: url('../fonts/metal-vengeance-font/MetalVengeanceItalic-owAdd.ttf'), 
        url('../fonts/metal-vengeance-font/metalvengeanceitalic-owadd-webfont.woff')
}